{% include "headitem.html.twig" with {title: "CATEGORY_UPDATE_TITLE"|translate} %}

<script type="text/javascript">
<!--
window.onload = function ()
{
    var oSearch = opener.parent.list.document.getElementById("search");
    oSearch.oxid.value='-1';
    oSearch.submit();
}
//-->
</script>

{% for curr_data in oView.getCatListUpdateInfo() %}
  {{ curr_data }}
{% endfor %}

<br>
&nbsp;&nbsp;&nbsp;<button onclick="window.close()">{{ translate({ ident: "CATEGORY_UPDATE_CLOSE" }) }}</button>
<br><br>


{% include "bottomitem.html.twig" %}
