{% if sHelpText is not empty and sHelpText != sHelpId %}
{% block admin_inputhelp %}
    <input type="button" id="helpBtn_{{ sHelpId }}" class="btnShowHelpPanel" onClick="YAHOO.oxid.help.showPanel('{{ sHelpId }}');">
    <div id="helpText_{{ sHelpId }}" class="helpPanelText">
        {{ sHelpText|raw }}
    </div>
{% endblock %}
{% endif %}